* {
    margin: 0;
    padding: 0;
}
#mainnav {
    width: 100%;
    height: 10vh;
    background: #1c1c1c;
}
#topimg {
    width: 100%;
    height: 50vh;
    background: url("img/car.jpg") center;
}
#container {
    width: 100%;

}
#wrapper {

}